global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
        - 192.168.200.85:9090

  - job_name: basement
    static_configs:
    - targets: ['192.168.200.85:9100']

  - job_name: 'grafana'
    static_configs:
      - targets: ['192.168.200.85:3300']

  - job_name: 'loki'
    static_configs:
      - targets: ['192.168.200.85:3100']

  - job_name: 'tempo'
    static_configs:
      - targets: ['192.168.200.85:3200']

