services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - '--web.enable-lifecycle'
      - '--web.external-url=https://prometheus.jshingler.net/'
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - observability

networks:
  observability:
    external: true

volumes:
  prometheus_data:
