services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: always
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yaml
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3100/ready"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - observability
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml # Mounts the Loki configuration file.
      - loki_data:/loki

networks:
  observability:
    external: true

