services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    restart: always
    ports:
      - "3200:3200" # Tempo HTTP
    volumes:
      - ./tempo.yml:/etc/tempo/tempo.yml:ro
      - tempo_data:/var/tempo
    networks:
      - observability

networks:
  observability:
    external: true

