services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    restart: always
    command: ["-config.file=/etc/tempo/tempo.yml"]
    ports:
      - "3200:3200"
      - "4317:4317"
      - "4318:4318"
    volumes:
      - ./tempo.yml:/etc/tempo/tempo.yml:ro
      - tempo_data:/var/tempo
    networks:
      - observability

networks:
  observability:
    external: true

