version: "3.8"

services:
  kokoro-fastapi:
    # image: ghcr.io/remsky/kokoro-fastapi-gpu:v0.2.2
    image: ghcr.io/remsky/kokoro-fastapi-gpu:latest
      #restart: always
    ports:
      - "8880:8880"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
